.form {
  background-color: var(--base-secondary-color);
  min-height: 600px;
  height: 100%;
  padding: 30px;
  width: 100%;
  border-radius: 8px;
}
.form__content {
  display: flex;
  flex-direction: column;
  gap: 13px;
  padding: 20px 0;
}
.form__title {
  font-size: 28px;
  font-weight: 600;
}
.form__group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.form__group label {
  font-size: 15px;
}
.form__group input {
  background-color: var(--base-form-color);
  border-radius: 8px;
  padding: 15px 5px;
  border: 1px solid var(--dark-line);
  color: var(--light-color);
  outline: none;
}
.form__total {
  display: flex;
  justify-content: space-between;
}
.form__total p {
  color: var(--text-light-color);
  font-weight: 400;
}
.form__total span {
  font-weight: 600;
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  .form {
    max-width: 440px;
  }
}
.input.errorInput {
  border: 1px solid #ff00004d;
}

.errorMessage {
  color: red;
  font-size: 12px;
}
