.order {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.order__list {
  display: flex;
  flex-direction: column;
  gap: 6px;
  height: 295px;
  overflow: auto;
  list-style-type: none;
  max-width: max-content;
  padding: 0 30px 0 0;
}
.order__list li {
  color: var(--text-light-color);
  cursor: pointer;
  background-color: var(--base-primary-color);
  border-radius: 4px;
  padding: 3px 10px;
}
.order__paragraph {
  font-size: 13px;
  font-weight: 400;
  color: var(--text-light-color);
  text-transform: capitalize;
}
