.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  width: 100%;
  max-height: 500px;
  height: 100%;
  border-radius: 8px;
  background-color: var(--base-primary-color);
}
.modal__button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  border: none;
  background: none;
  padding: 20px;
  color: white;
  cursor: pointer;
}
.modal__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 20px;
}
