:root {
  --primary-color: #ea7c69;
  --light-color: #ffffff;
  --text-light-color: #ABBBC2;
  --base-primary-color: #252836;
  --base-secondary-color: #1f1d2b;
  --base-form-color: #2d303e;
  --transparent-primary: #eb966a5e;
  --dark-line: #393C49;
  --hover: #ff6f56;
}
body {
  min-height: 100vh;
  background: var(--base-primary-color);
  font-family: "Barlow", sans-serif;
  font-style: normal;
  color: var(--light-color);
}
h1,
h2,
h3,
h4,
p,
span {
  color: var(--light-color);
}

::-webkit-scrollbar {
  width: 4px; 
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 10px;
}

.home {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.home__content {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .home__content {
    flex-direction: row;
  }
}

.button {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--light-color);
  font-size: 14px;
  font-weight: 600;
  width: 100%;
  background-color: var(--primary-color);
  padding: 15px 0;
  border-radius: 8px;
  box-shadow: 0px 6px 10px 0px var(--primary-color);

  transition: background-color 0.3s;
}
.button:hover {
  background-color: var(--hover);
}
